
/* Footer Section CSS */
footer {
  nav {
    span.footer-center {
      //display: inline-block;
    }
    ul.footer-left {
        border-top: 1px solid black;
        border-bottom: 1px solid black;

        li {
          padding: 0 1rem;
        }
    }
    ul.footer-right {
      @extend ul.footer-left;
    }
  }
}
