
/* Footer Section CSS */



footer {

  nav {
    background: $body-bg;
    div {
      ul.navbar-nav {
        li {
          a.dash::before {
            color: $text-color;
            font-size: 1.2rem;
          }
        }
        li.site-logo {
          a.navbar-brand:link {
            font-size: 1.3rem;
            color: $heading-color;
            font-weight: 800;
          }
          a.navbar-brand:visited {
            @extend a.navbar-brand:link;
          }
        }
        li.site-menu {
          a.nav-link:link {
            color: $text-color;
            font-size: 1.2rem;
          }
          a.nav-link:visited {
            @extend a.nav-link:link;
          }
        }
      }
      ul.footer-left {
        display: none;
      }
      ul.footer-right {
        @extend ul.footer-left;
      }
      ul.footer-logo {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

/* Common For Tablets and Desktops */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1824px) {
    footer {
      nav {
        div.container-fluid {
          padding: 0 1rem;

          ul.footer-logo {
            li.site-logo {
              a.na1:link {
                font-size: 1.8rem;
                }
              a.navbar-brand:active {
                @extend a.na1:link;
              }
            }
          }
          ul.footer-left {
            display: block;
            border-top: 1px solid $footer-border;
            border-bottom: 1px solid $footer-border;
            }
            li {
              padding: 0 1rem;
            }
          ul.footer-right {
            border-top: 1px solid $footer-border;
            border-bottom: 1px solid $footer-border;

            li {
              padding: 0 1rem;
            }
          }
        }
      }
    }
}
