
/* Common Style */
html, body, div, ul, li, article,span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $body-font;
  font-size: 1.1rem;
}

.container-fluid {
  padding: 0;
}

button:focus, button:active {
  box-shadow: none;
  //outline: none;
}

div.row {
  margin: 0;
  div {
    h1 {
      color: $heading-color;
      font-weight: 800;
    }
    h4 {
      color: $subheading-color;
      text-transform: uppercase;
      font-weight: 700;
    }
    p {
      color: $text-color;
      font-family: $para-font;
    }
    h2 {
      color: $heading-color;
    }
    p.site-quote {
      color: $quote-color;
      font-family: $logo-font;
    }
  }
}

body {
  background: $body-bg;
}

/* Header Section of the Site*/
header.site-header {
  background-image: url(../images/hero-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  max-width: 100%;
}
/*
.home-port:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	pointer-events: none;
	-webkit-background-image: linear-gradient(linear, left top,right top, from (rgba(49,61,65,0.6)) );
	background-image: linear-gradient(90deg, rgba(49,61,65,0.6), rgba(49,61,65,0.6));
}
*/
/* Navigation Menu properties */
%nav-link {
  color: $nav-color;
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
  letter-spacing: .1rem;
}

nav {
  background: $nav-bg;

  ul{
    list-style: none;

    span.left {
      float: left;
      display: $display;
    }

    span.center {
      display: $display;
      margin: 0 auto;
    }

    span.right {
      float: right;
      display: $display;

      li.social-icon {
        padding: 0 10px;
      }
    }
    li.site-logo {
      font-family: $logo-font;
      color: $nav-color;
      font-weight: 400;
      display: $display;
      font-size: 1.2rem;

      a:link {
        @extend %nav-link;
      }

      a:visited {
        @extend %nav-link;
      }
    }

    li.site-menu {
      display: $display;

      a:link {
        @extend %nav-link;
        text-transform: uppercase;
      }

      a:visited {
        @extend %nav-link;
        text-transform: uppercase;
      }
    }

    li.site-menu:not(:first-child)::before {
      a {
        content: '~';
        color: $nav-color;
        font-size: 1rem;
        padding: 0 .5rem;
      }

    }

    li.social-icon {
      display: $display;

      a:link {
        @extend %nav-link;
      }

      a:visited {
        @extend %nav-link;
      }
    }

    li.tw{
      a {
        padding: 1.2rem 1rem;
        line-height: 1.2rem;
      }
    }

    li.fb {
      @extend li.tw;
    }

    li.in {
      @extend li.tw;
    }

    li.tw a:hover {
      background: $twitter;
    }

    li.fb a:hover {
      background: $facebook;
    }

    li.in a:hover {
      background: $instagram;
    }
  }
}

/* Common For Tablets and Desktops */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1824px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
  .navbar-nav.navbar-right {
    position: absolute;
    right: 0;
    transform: translatex(-50%);
  }
}

/* Tablets Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1280px) {
    nav.top {
      ul {
        li.site-logo {
          a {
            font-size: 1.5rem;
          }
        }
      }
    }
}

/* Desktops and laptops */
@media only screen
  and (min-device-width: 1280px)
  and (max-device-width: 1824px) {
    nav.top {
      ul {
        li.site-logo {
          a {
            font-size: 1.8rem;
          }
        }
      }
    }
}
