
/* Our Menu Section Properties */
div.site-breakfast {
  background-image: url(../images/breakfast.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: auto;
  max-width: 100%;
  padding: 5rem 0;
  text-align: center;
}

#brkfst-left {
  .heading-white {
    color: #fff;
  }

  h4 {
    color: $subheading-color;
  }

  .brk-price {
    color: $price-color;
  }
  p {
    color: $brk-text-color * .8;
  }
}

#brkfst-right {
  background: $body-bg;
  h1 {
    
  }
  p {

  }
}
/* Common For Tablets and Desktops */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1824px) {

}

/* Tablets Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1279px) {

}

/* Desktops and laptops */
@media only screen
  and (min-device-width: 1280px)
  and (max-device-width: 1824px) {

}
