
/* Tasty Pancake Section Properties */
.btn-hover {
  color: $btn-nxt-prev-hover;
  border: 2px solid $btn-nxt-prev-hover;
}

div.site-pancake {
  background-image: url(../images/pancake.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: auto;
  max-width: 100%;
  position: relative;


  div.container {

  }
  div.row {
    padding: 5rem 0;
    div {
      padding: 0;
    }
    div.food-wid {
      background: #fff;
      padding: 1rem 4.2rem;

      img {
        border-radius: 50%;
        padding: 10px;
      }

      button.btn-prev {
        background: transparent;
        border: 2px solid $btn-nxt-prev;
        color: $btn-nxt-prev;
        border-radius: 50%;
        font-weight: 700;
        padding: 5px 15px;
        font-size: 1rem;

        &:hover {
          @extend .btn-hover;
        }
      }
      button.btn-nxt {
        @extend button.btn-prev;
        &:hover {
          @extend .btn-hover;
        }
      }
      p {
        margin-top: 1.4rem;
      }
      .site-timer {
        background-image: url(../images/pancake-ready.png);
        background-repeat: no-repeat;
        max-width: 100%;
        position: absolute;
        right: -120px;
        top: -50px;
        padding: 2rem;
        box-shadow: 0 10px 54px 1px $shadow;
        text-align: center;

        h3 {
          color: $subheading-color;
          text-transform: uppercase;
          font-weight: 800;
        }
        .site-time {
          color: $price-color;
          font-size: 4.6rem;
          font-weight: 600;
          font-family: $body-font;
          line-height: 1.1rem;
          padding: 5px 0;
        }
        p {
          font-family: $body-font;
          font-weight: 700;
          color: $text-color * 1.5;
          margin: 0;
          padding-top: 25px;
        }
      }
      #food-bg {
        //background-image: url(../images/pancake-bg.png);
        //background-repeat: no-repeat;
        position: absolute;
        max-width: 100%;
        height: 295px;
        bottom: 0;
        right: 0;

        img {
          border-radius: 0;
          padding: 0;
        }
      }
    }
  }
}

/* Common For Tablets and Desktops */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1824px) {

}

/* Tablets Portrait and Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1280px) {

}

/* Desktops and laptops */
@media only screen
  and (min-device-width: 1280px)
  and (max-device-width: 1824px) {
    div.site-pancake {
      div.row {
        div.food-wid {
          p {
            margin-top: 2.6rem;
          }
        }
      }
    }
}
