/* Master SCSS of Gustoso Bakery Site */
@font-face {
  font-family: scriptina;
  src: url("../font/scriptina-regular.ttf") format("truetype");
}

@font-face {
  font-family: alegreya;
  src: url("..font/alegreya-regular.ttf") format("truetype");
}

/* Common Style */
html, body, div, ul, li, article, span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "alegreya", serif;
  font-size: 1rem;
}

body {
  background: #f3f1e9;
}

/* Header Section of the Site*/
header.site-header {
  background-image: url(../images/hero-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  max-width: 100%;
}

/* Navigation Menu properties */
nav ul li.site-logo a:link, nav ul li.site-logo a:visited, nav ul li.site-menu a:link, nav ul li.site-menu a:visited, nav ul li.social-icon a:link, nav ul li.social-icon a:visited {
  color: #efebe4;
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
  letter-spacing: .1rem;
}

nav {
  background: rgba(86, 83, 76, 0.53);
}

nav ul {
  list-style: none;
}

nav ul span.left {
  float: left;
  display: inline-block;
}

nav ul span.center {
  display: inline-block;
  margin: 0 auto;
}

nav ul span.right {
  float: right;
  display: inline-block;
}

nav ul span.right li.social-icon {
  padding: 0 10px;
}

nav ul li.site-logo {
  font-family: "scriptina", sans-serif;
  color: #efebe4;
  font-weight: 400;
  display: inline-block;
  font-size: 1.2rem;
}

nav ul li.site-menu {
  display: inline-block;
}

nav ul li.site-menu a:link {
  text-transform: uppercase;
}

nav ul li.site-menu a:visited {
  text-transform: uppercase;
}

nav ul li a.dash::before, nav ul li a.dash::after {
  content: '~';
  color: #efebe4;
  font-size: 1rem;
  padding: 0 20px;
}

nav ul li.social-icon {
  display: inline-block;
}

nav ul li.tw a, nav ul li.fb a, nav ul li.in a {
  padding: 1.2rem 1rem;
  line-height: 1.2rem;
}

nav ul li.tw a:hover, nav ul li.fb a:hover, nav ul li.in a:hover {
  background: #00aced;
}

nav ul li.fb a:hover {
  background: #3b5998;
}

nav ul li.in a:hover {
  background: linear-gradient(to bottom right, #4c68d7, #8a3ab9, #cd486b, #fbad50, #fccc63, #bc2a8d, #e95950);
}

/* Common For Tablets and Desktops */
@media only screen and (min-device-width: 768px) and (max-device-width: 1824px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
  .navbar-nav.navbar-right {
    position: absolute;
    right: 0;
    transform: translatex(-50%);
  }
}

/* Tablets Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) {
  nav.top ul li.site-logo a {
    font-size: 1.3rem;
  }
}

/* Desktops and laptops */
@media only screen and (min-device-width: 1280px) and (max-device-width: 1824px) {
  nav.top ul li.site-logo a {
    font-size: 1.5rem;
  }
}

/* Footer Section CSS */
footer nav {
  background: #f3f1e9;
}

footer nav div ul.navbar-nav li a.dash::before, footer nav div ul.navbar-nav li a.dash::after {
  color: #56534c;
  font-size: 1.2rem;
}

footer nav div ul.navbar-nav li.site-logo a.navbar-brand:link, footer nav div ul.navbar-nav li.site-logo a.navbar-brand:visited {
  font-size: 1.3rem;
  color: #56534c;
  font-weight: 500;
}

footer nav div ul.navbar-nav li.site-menu a.nav-link:link, footer nav div ul.navbar-nav li.site-menu a.nav-link:visited {
  color: #56534c;
  font-size: 1.2rem;
}

footer nav ul.footer-left, footer nav ul.footer-right {
  border-top: 1px solid #c2beba;
  border-bottom: 1px solid #c2beba;
}

footer nav ul.footer-left li, footer nav ul.footer-right li {
  padding: 0 1rem;
}
