/*
* Version: 1.0.0
* Author: Arkdezin
*/
@font-face {
  font-family: scriptina;
  src: url("../font/scriptina-regular.ttf") format("truetype");
}

@font-face {
  font-family: alegreya;
  src: url("../font/alegreya-regular.ttf") format("truetype");
}

@font-face {
  font-family: proxima-nova;
  src: url("../font/proximanova-regular.woff") format("woff");
}

@font-face {
  font-family: playfairDisplay;
  src: url("../font/playfairdisplay-regular.ttf") format("truetype");
}

/* Common Style */
html, body, div, ul, li, article, span {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "alegreya", serif;
  font-size: 1.1rem;
}

[class*=col-] {
  padding: 0;
}

*::selection {
  background: #817d72;
  color: #ffe1a9;
}

.container-fluid {
  padding: 0;
}

button:focus, button:active {
  box-shadow: none;
}

div.row {
  margin: 0;
}

div.row div h1 {
  color: #56534c;
  font-weight: 800;
}

div.row div h4 {
  color: #a47d5e;
  text-transform: uppercase;
  font-weight: 700;
}

div.row div p {
  color: #56534c;
  font-family: "proxima-nova", sans-serif;
}

div.row div h2 {
  color: #56534c;
}

div.row div p.site-quote {
  color: #a47d5e;
  font-family: "scriptina", sans-serif;
}

body {
  background: #f3f1e9;
}

/* Header Section of the Site*/
header.site-header {
  background-image: url(../images/hero-bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  max-width: 100%;
}

#under {
  background: #d9534f;
}

#under .row div h3 {
  color: #fff;
  text-align: center;
  margin: .5rem 0 .1rem 0;
}

#under .row div p {
  padding: 0;
  margin: .1rem 0;
  font-size: .9rem;
  color: #fff;
  text-shadow: none;
}

/*
.home-port:before {
	content: "";
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	pointer-events: none;
	-webkit-background-image: linear-gradient(linear, left top,right top, from (rgba(49,61,65,0.6)) );
	background-image: linear-gradient(90deg, rgba(49,61,65,0.6), rgba(49,61,65,0.6));
}
*/
/* Navigation Menu properties */
nav ul li.site-logo a:link, nav ul li.site-logo a:visited, nav ul li.site-menu a:link, nav ul li.site-menu a:visited, nav ul li.social-icon a:link, nav ul li.social-icon a:visited {
  color: #efebe4;
  font-size: 1.2rem;
  text-decoration: none;
  text-align: center;
  letter-spacing: .1rem;
}

nav {
  background: rgba(86, 83, 76, 0.53);
}

nav ul {
  list-style: none;
}

nav ul span.left {
  float: left;
  display: inline-block;
}

nav ul span.center {
  display: inline-block;
  margin: 0 auto;
}

nav ul span.right {
  float: right;
  display: inline-block;
}

nav ul span.right li.social-icon {
  padding: 0 10px;
}

nav ul li.site-logo {
  font-family: "scriptina", sans-serif;
  color: #efebe4;
  font-weight: 400;
  display: inline-block;
  font-size: 1.2rem;
}

nav ul li.site-menu {
  display: inline-block;
}

nav ul li.site-menu a:link {
  text-transform: uppercase;
}

nav ul li.site-menu a:visited {
  text-transform: uppercase;
}

nav ul li.site-menu:not(:first-child)::before a {
  content: '~';
  color: #efebe4;
  font-size: 1rem;
  padding: 0 .5rem;
}

nav ul li.social-icon {
  display: inline-block;
}

nav ul li.tw a, nav ul li.fb a, nav ul li.in a {
  padding: 1.2rem 1rem;
  line-height: 1.2rem;
}

nav ul li.tw a:hover, nav ul li.fb a:hover, nav ul li.in a:hover {
  background: #00aced;
}

nav ul li.fb a:hover {
  background: #3b5998;
}

nav ul li.in a:hover {
  background: linear-gradient(to bottom left, #4c68d7, #8a3ab9, #cd486b, #fbad50, #fccc63, #bc2a8d, #e95950);
}

/* Common For Tablets and Desktops */
@media only screen and (min-device-width: 768px) and (max-device-width: 1824px) {
  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
  .navbar-nav.navbar-right {
    position: absolute;
    right: 0;
    transform: translatex(-50%);
  }
}

/* Tablets Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1280px) {
  nav.top ul li.site-logo a {
    font-size: 1.5rem;
  }
}

/* Desktops and laptops */
@media only screen and (min-device-width: 1280px) and (max-device-width: 1824px) {
  nav.top ul li.site-logo a {
    font-size: 1.8rem;
  }
}

/* Hero Section CSS */
.text-shadow, header div h1.site-heading, header div p {
  text-shadow: 1px 1px 2px #3d3029;
}

.box-shadow {
  box-shadow: 1px 1px 2px #3d3029;
}

header div h1.site-heading {
  color: #fff;
  text-align: center;
  font-family: "playfairDisplay", serif;
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .2rem;
  padding-top: 1.2rem;
}

header div hr {
  background: transparent;
  width: 8rem;
  border-top: 2px dashed #fff;
}

header div p {
  color: #fff;
  text-align: center;
  font-family: "proxima-nova", sans-serif;
  font-size: 1.4rem;
  margin: 1.2rem 0;
}

header div button.btn-menu {
  color: #fff;
  background: rgba(86, 83, 76, 0.53);
  border: 2px dashed #9e9c93;
  font-size: 1.2rem;
  text-transform: uppercase;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 0;
  margin: 1.2rem 0;
  padding: .5rem 1.4rem;
}

/* Common For Tablets and Desktops */
/* Tablets Portrait and Landscape */
/* Desktops and laptops */
@media only screen and (min-device-width: 1280px) and (max-device-width: 1824px) {
  header div h1.site-heading {
    font-size: 5rem;
    padding-top: 3rem;
  }
  header div hr {
    width: 13rem;
    border-top: 4px dashed #fff;
  }
  header div p {
    font-size: 1.6rem;
    margin: 1.8rem 0;
  }
  header div button.btn-menu {
    font-size: 1.6rem;
    margin: 1.6rem 0;
    padding: .5rem 1.4rem;
  }
}

/* Bullet Section of the site */
.pos, .bullet .two, .bullet .one, .bullet .zero {
  text-align: center;
  position: absolute;
  left: 50%;
}

.bullet {
  position: relative;
  top: -53px;
}

.bullet .two {
  z-index: 8;
  width: 106px;
  height: 106px;
  transform: translateX(-50%);
}

.bullet .one {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #fff;
  z-index: 9;
  transform: translate(-50%, 18.75%);
}

.bullet .zero {
  z-index: 10;
  width: 50px;
  height: 45px;
  transform: translate(-50%, 75%);
}

/* Art of Cakes Section Properties */
#art-img img:not(:last-child) {
  width: 50%;
  padding: 10px;
  outline: 5px solid #fff;
  outline-offset: -20px;
}

#art-img #art-center {
  width: 40%;
  position: relative;
  top: -225px;
  transform: translateY(-50%);
}

div.site-artcake {
  background-image: url(../images/art-of-cake.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: auto;
  max-width: 100%;
  padding-top: 5.4rem;
}

div.site-artcake div.row div {
  text-align: center;
}

div.site-artcake div.row div h1 {
  color: #56534c;
  font-weight: 800;
  margin-bottom: 0;
  line-height: 1;
}

div.site-artcake div.row div h4 {
  color: #a47d5e;
  text-transform: uppercase;
}

div.site-artcake div.row div p {
  color: #56534c;
  font-family: "proxima-nova", sans-serif;
}

div.site-artcake div.row div h2 {
  color: #56534c;
  font-weight: 600;
}

div.site-artcake div.row div p.site-quote {
  color: #a47d5e;
  font-family: "scriptina", sans-serif;
  font-weight: 550;
  letter-spacing: -.1rem;
  text-align: center;
}

div.site-artcake div.row div p.site-quote::before, div.site-artcake div.row div p.site-quote::after {
  content: '"';
  color: rgba(86, 83, 76, 0.53);
}

div.site-artcake div.row div p.site-quote::before {
  padding-right: 30px;
}

div.site-artcake div.row div p.site-quote::after {
  padding-left: 30px;
}

/* Common For Tablets and Desktops */
/* Tablets Portrait and Landscape */
/* Desktops and laptops */
@media only screen and (min-device-width: 1280px) and (max-device-width: 1824px) {
  h1 {
    font-size: 3.2rem;
  }
  h4 {
    font-size: 1rem;
  }
  p.site-quote {
    font-size: 2.6rem;
  }
}

/* Tasty Pancake Section Properties */
.btn-hover, div.site-pancake div.row div.food-wid button.btn-prev:hover, div.site-pancake div.row div.food-wid button.btn-nxt:hover {
  color: #56534c;
  border: 2px solid #56534c;
}

div.site-pancake {
  background-image: url(../images/pancake.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: auto;
  max-width: 100%;
  position: relative;
}

div.site-pancake div.row {
  padding: 5rem 0;
}

div.site-pancake div.row div {
  padding: 0;
}

div.site-pancake div.row div.food-wid {
  background: #fff;
  padding: 1rem 4.2rem;
}

div.site-pancake div.row div.food-wid img {
  border-radius: 50%;
  padding: 10px;
}

div.site-pancake div.row div.food-wid button.btn-prev, div.site-pancake div.row div.food-wid button.btn-nxt {
  background: transparent;
  border: 2px solid #d8bba3;
  color: #d8bba3;
  border-radius: 50%;
  font-weight: 700;
  padding: 5px 15px;
  font-size: 1rem;
}

div.site-pancake div.row div.food-wid p {
  margin-top: 1.4rem;
}

div.site-pancake div.row div.food-wid #site-timer {
  background-image: url(../images/pancake-ready.png);
  background-repeat: no-repeat;
  max-width: 100%;
  position: absolute;
  right: -120px;
  top: -50px;
  padding: 2rem;
  box-shadow: 0 10px 54px 1px rgba(105, 80, 58, 0.45);
  text-align: center;
}

div.site-pancake div.row div.food-wid #site-timer h3 {
  color: #a47d5e;
  text-transform: uppercase;
  font-weight: 800;
}

div.site-pancake div.row div.food-wid #site-timer .site-time {
  color: #dfc691;
  font-size: 4.6rem;
  font-weight: 600;
  font-family: "alegreya", serif;
  line-height: 1.1rem;
  padding: 5px 0;
}

div.site-pancake div.row div.food-wid #site-timer p {
  font-family: "alegreya", serif;
  font-weight: 700;
  color: #817d72;
  margin: 0;
  padding-top: 25px;
}

div.site-pancake div.row div.food-wid #food-bg {
  position: absolute;
  max-width: 100%;
  height: 295px;
  bottom: 0;
  right: 0;
}

div.site-pancake div.row div.food-wid #food-bg img {
  border-radius: 0;
  padding: 0;
}

/* Common For Tablets and Desktops */
/* Tablets Portrait and Landscape */
/* Desktops and laptops */
@media only screen and (min-device-width: 1280px) and (max-device-width: 1824px) {
  div.site-pancake div.row div.food-wid p {
    margin-top: 2.6rem;
  }
}

/* Our Menu Section Properties */
div.site-breakfast {
  background-image: url(../images/breakfast.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: auto;
  max-width: 100%;
}

/* Common For Tablets and Desktops */
/* Tablets Portrait and Landscape */
/* Desktops and laptops */
/* Jibarito Sandwich Section Properties */
/* Common For Tablets and Desktops */
/* Tablets Portrait and Landscape */
/* Desktops and laptops */
/* Footer Section CSS */
footer nav {
  background: #f3f1e9;
}

footer nav div ul.navbar-nav li a.dash::before {
  color: #56534c;
  font-size: 1.2rem;
}

footer nav div ul.navbar-nav li.site-logo a.navbar-brand:link, footer nav div ul.navbar-nav li.site-logo a.navbar-brand:visited {
  font-size: 1.3rem;
  color: #56534c;
  font-weight: 800;
}

footer nav div ul.navbar-nav li.site-menu a.nav-link:link, footer nav div ul.navbar-nav li.site-menu a.nav-link:visited {
  color: #56534c;
  font-size: 1.2rem;
}

footer nav div ul.footer-left, footer nav div ul.footer-right {
  display: none;
}

footer nav div ul.footer-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Common For Tablets and Desktops */
@media only screen and (min-device-width: 768px) and (max-device-width: 1824px) {
  footer nav div.container-fluid {
    padding: 0 1rem;
  }
  footer nav div.container-fluid ul.footer-logo li.site-logo a.na1:link, footer nav div.container-fluid ul.footer-logo li.site-logo a.navbar-brand:active {
    font-size: 1.8rem;
  }
  footer nav div.container-fluid ul.footer-left, footer nav div.container-fluid ul.footer-right {
    display: block;
    border-top: 1px solid #c2beba;
    border-bottom: 1px solid #c2beba;
  }
  footer nav div.container-fluid li {
    padding: 0 1rem;
  }
  footer nav div.container-fluid ul.footer-right {
    border-top: 1px solid #c2beba;
    border-bottom: 1px solid #c2beba;
  }
  footer nav div.container-fluid ul.footer-right li {
    padding: 0 1rem;
  }
}
